img{
    max-width: 100%;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    max-width: 95%;
    margin: 0 auto;
   // text-align: center;
}
mat-card{
    margin:10px 0;
    max-width: 700px;
}
mat-card-content:focus{
    outline: none;
    border: 0;
}